<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quote</title>    
</head>
<body>
    
    <br />
    <div class="wrapper">
        <div class="container">
            <h4 id="quote">
            </h4>
            <p id="author"></p>
            <button id="button">Get Quote</button>
        </div>
    </div>
    <br />
    <a class="superMenu" asp-controller="Home" asp-action="Index">Back to home</a>
    <!-- Script -->
    <script src="~/js/quote.js"></script>
</body>

