@model ASPNetSocialMedia.Models.UserFeedback

@{
    ViewData["Title"] = "Create";
}

<h4>Are you sure you want to send the feedback?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="FeedbackName" class="control-label"></label>
                <input asp-for="FeedbackName" class="form-control" />
                <span asp-validation-for="FeedbackName" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="FeedbackEmail" class="control-label"></label>
                <input asp-for="FeedbackEmail" class="form-control" />
                <span asp-validation-for="FeedbackEmail" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="FeedbackMessage" class="control-label"></label>
                <input asp-for="FeedbackMessage" class="form-control" />
                <span asp-validation-for="FeedbackMessage" class="text-danger"></span>
            </div>
            <div hidden class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" value="@DateTime.Today.ToString("yyyy-MM-dd")" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send feedback" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
