@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNetSocialMedia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/W0L3g2y/logo.png">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/ASPNetSocialMedia.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" id="navbar">
            <div class="container-fluid">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://i.ibb.co/W0L3g2y/logo.png" alt="logo" width="50" height="50"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="navbar-collapse collapse d-sm-inline-flex">
                    <ul class="navbar-nav flex-grow-1">
                    </ul>
                    @if (this.User.IsInRole("Admin"))
                    {
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </button>
                            <div class="dropdown-content">

                            @*    <a b-lo8178di51 class="superMenu dropdown-item" asp-controller="ApplicationUser" asp-action="Index"> Users List </a>*@
                                <div class="dropdown-divider"></div>
                                <a b-lo8178di51 class="superMenu dropdown-item" asp-controller="UserFeedback" asp-action="Index"> User Feedback </a>
                                <div class="dropdown-divider"></div>
                            </div>
                        </div>

                    }
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @if (SignInManager.IsSignedIn(User))
        {
            <!-- The sidebar -->
            <div class="sidebar">

                <div>
                    @Html.Partial("_UserPicturePartial")
                </div>

                <a b-lo8178di51 class="superMenu" asp-controller="Home" asp-action="Index">Home</a>
                <a b-lo8178di51 class="superMenu" asp-controller="Posts" asp-action="AllUsersPosts">Feed</a>
                <a b-lo8178di51 class="superMenu" asp-controller="Messages" asp-action="Index">Messages</a>
                <a b-lo8178di51 class="superMenu" asp-controller="ApplicationUser" asp-action="Index">Browse Users</a>
                <div class="dropdown">
                     <a b-lo8178di51 class="superMenu" asp-controller="FriendRelations" asp-action="Index">My Friends</a>
                    
                    <div class="dropdown-content">

                        <a b-lo8178di51 class="superMenu" asp-controller="FriendRelations" asp-action="Index">Friend List</a>
                        <a b-lo8178di51 class="superMenu" asp-controller="CloseFriendRelations" asp-action="Index">Close Friends</a>
                     
                    </div>
                </div>

                <a b-lo8178di51 class="superMenu" asp-controller="Posts" asp-action="Index">My Posts</a>
                <a b-lo8178di51 class="superMenu" asp-controller="Home" asp-action="CompleteProfile">Edit Profile</a>
                <a b-lo8178di51 class="superMenu" asp-controller="Home" asp-action="About">About us</a>
                <a b-lo8178di51 class="superMenu" asp-controller="Home" asp-action="Contact">Contact us</a>
                <a b-lo8178di51 class="superMenu" asp-controller="Home" asp-action="Chat">Public Chat</a>
            </div>
        }
        <div id="mainBody">
            @RenderBody()
        </div>
        
    </main>

    <footer class="bg-light text-center text-lg-start" id="footer">
        <!--<span>-->
            <div class="text-center p-3">
                © 2022 Social Media
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/weather.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
